/target/
/bin/
/logs/
.settings/
.project
.classpath
rebel.xml
MANIFEST.MF
/.project
.metadata/
*.class
*.jar
*.war
*.ear
/target
/.settings
/.classpath
/.project
/target
/.metadata
/.recommenders
rebel.xml

.DS_Store
.idea
*.iml
